body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

th {
    font-weight: bold;
}

#tweets-link {
    text-decoration: none;
}

#tweets-link:hover {
    color: orangered;
}